@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    a.mail {
        font-size: 14px;
    }
</style>

<address>
    <strong>My mail: </strong><a class="mail">maximuskavun(dog)gmail.com</a><br />
    <strong>Skype: </strong> <a class="mail">maksimkvn</a>
</address>