@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    @*<link href="~/node_modules/swiper/dist/css/swiper.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    @*<script src="~/Scripts/popper.min.js"></script>*@
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="~/Stylses/Style.css" rel="stylesheet" />
    @*<style>
            .swiper-container {
                width: 100%;
                padding-top: 10px;
                padding-bottom: 50px;
            }

            .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 450px;
                height: 250px;
            }
    </style>*@
</head>
<body>
    <header>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                <li><a href="@Url.Action("REST_API", "Home")">REST API</a></li>
                <li><a href="@Url.Action("DataBase", "Home")">Data Base</a></li>
                <li><a href="@Url.Action("Crypto", "Home")">Crypto</a></li>
                <li><a href="@Url.Action("ScenariosDownload", "Home")">ScenariosDownload</a></li>
            </ul>
        </nav>
        <ul class="sci">
            <li>
                <a href="#about">
                    <img src="~/Images/about.png" />
                </a>
            </li>
            <li>
                <a href="#contact">
                    <img src="~/Images/contact.png" />
                </a>
            </li>
        </ul>
    </header>
    <section class="section_1" id="about">
        <contaner class="h100">
            <div>
                <div class="circle circle1" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/Images/me.jpeg" />
                </div>
                <h1 class="neon" data-text="Site make by ASP.Net MVC">Site make by ASP.Net MVC</h1>
                <div class="contentBox">
                    <h2 data-aos="fade-up" data-aos-duration="2000" data-aos-delay="150"> I am Full-Stack (.NET) Developer</h2>
                    <p>
                        C#, .NET, ASP.NET MVC, ASP.NET Core MVC;<br />
                        NET 4.5.x/4.7.x;<br />
                        JSON, TCP/IP, Protocol Buffers, LINQ;<br />
                        HTML, CSS, JS, jQuery, ajax;<br />
                        OOP and design/architectural patterns;<br />
                        EntityFramework (Code First), Dapper, MS SQL, SQLite;<br />
                        version control systems: Git, SVN;<br />
                        Additional Experience:<br />
                        Unity C# (Windows/Android);<br />
                        Delphi (Windows Forms);<br />

                    </p>
                </div>

            </div>
        </contaner>
    </section>
    <section class="section_2" id="contact">
        <contaner class="h100">
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="headerText text-center skype">
                            <img src="~/Images/skype.png" height="50" width="50" />
                            <h2>
                                maksimkvn
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="offset-sm-2 col-sm-8">
                        <form>
                            <div class="headerform text-center">
                                <h2>
                                    or write me using the form
                                </h2>
                            </div>
                            <div class="form-group" data-aos="fade-up">
                                <label>Your name:</label>
                                <input id="user_name" type="text" name="" class="form-control" />
                            </div>
                            <div class="form-group" data-aos="fade-up">
                                <label>Your e-mail:</label>
                                <input id="user_email" type="text" name="" class="form-control" />
                            </div>
                            <div class="form-group" data-aos="fade-up">
                                <label>Your suggestion:</label>
                                <textarea id="text_comment" class="form-control textarea"></textarea>
                            </div>
                            <div class="form-group text-center">
                                <button id="btn_submit" class="btn btnD1">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </contaner>
    </section>


    @*<h2 class="text-center text-danger">Projects in which I participated</h2>
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div>
                        <img width="450" height="250" src="~/Images/Arena.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <img width="450" height="250" src="~/Images/TVout.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <img width="450" height="250" src="~/Images/ScreechOfSteel.jpg" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <img width="450" height="250" src="~/Images/Animation.png" />
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>

        <script src="~/node_modules/swiper/dist/js/swiper.min.js"></script>
        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper('.swiper-container', {
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 5,
                    slideShadows: true,
                },
                pagination: {
                    el: '.swiper-pagination',
                },
            });
        </script>*@
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $('.menu-toggle').toggleClass('active');
                $('nav').toggleClass('active');
            })
        })
    </script>
    <script>
        AOS.init();
    </script>
    <script>
        $(document).ready(function () {
            $('#btn_submit').click(function () {
                var user_name = $('#user_name').val();
                var user_email = $('#user_email').val();
                var text_comment = $('#text_comment').val();
                event.preventDefault();
                if (user_name == "") {
                    alert("Enter your name");
                    return;
                }
                if (user_email == "") {
                    alert("Enter your e-mail");
                    return;
                }
                if (text_comment == "") {
                    alert("Enter your suggestion");
                    return;
                }

                $.ajax({
                    url: "/Home/SendMail",
                    type: "post",
                    dataType: "text",
                    data: {
                        "user_name": user_name,
                        "user_email": user_email,
                        "text_comment": text_comment
                    },
                    success: function (data) {
                        if (data == "") {
                            alert("Error!! Message not sent to me.. Try again!!")
                        } else {
                            $('#user_name').val('');
                            $('#user_email').val('');
                            $('#text_comment').val('');
                            alert(data);
                        }
                    },
                    error: function () {
                        alert("Error!! Message not sent to me.. Try again!!");
                    }
                });
            });
        });
    </script>
</body>
</html>
