
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <section class="section_1">
        <contaner class="h100">
            <div class="rest">
                <h1>REST API</h1>
                <h3>GET: /Person/Details/{id}</h3>
                <h3>POST: /Person/Create</h3>
                <p>JSON-body {“Name”:”…”, “Phone”:”…”}</p>
                <h3>GET: /Person/Delete/{id}</h3>
            </div>
            @*<div>
                <h1 class="display-4 text-center">How much is crypto currency right now?</h1>
                <p class="lead">On this page you can find out the price of cryptocurrency now.</p>
                <hr class="my-4">
                <p>Enter cryptocurrency ICO (example BTC or DASH)</p>
                <input id="InputCryptoName" type="text" class="form-control" placeholder="Cryptocurrency Name" aria-describedby="basic-addon1">
                <h2 id="price" class="text-lg-left">0.00 $</h2>
                <hr class="my-4">
                <a id="PriceBtn" class="btn btn-primary btn-lg btn-block" role="button">Learn Price</a>
            </div>*@
        </contaner>
    </section>  
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#PriceBtn").click(function () {
                if ($("#InputCryptoName").val() == "") {
                    alert("Enter Cryptocurrency name");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetPriceCrypto",
                        contentType: "application/json; charset=utf-8",
                        data: '{"CryptoName":"' + $("#InputCryptoName").val() + '"}',
                        dataType: "html",
                        success: function (result) {
                            $("#price").html(result);
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
