
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ScenariosDownload</title>

    <style>
        body 
        {
            background: #d7d2d2;
        }

    </style>
</head>
<body>
    <div class="container">
        <hr class="my-4">
        <h2 class="text-center">Scenarios Downloader</h2>
        <div class="text-center">
            <img src="~/Images/down.png" class="img-fluid" />
        </div>
        <hr class="my-2">
        <div class="content">
            <p class="text-center">This program receives a list of scenarios from the server and allows you to download the necessary scenario.</p>
            <div class="text-center">
                <a href="https://github.com/MaximusGame/ScenariosDownloader.git" class="btn btn-outline-success" role="button" aria-pressed="true">Download</a>
            </div>
            
        </div>
    </div>
</body>
</html>
